<%layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%=message%></h4>
      <p class="mb-0">Error Code: <%=statusCode%></p>
      <hr />
      <% if (process.env.Node_ENV !== "production") { %>
      <p><%=stack%></p>
      <%}%>
    </div>
  </div>
</div>
