<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/greyBG.css" crossorigin="anonymous" />
<div
    class="container d-flex justify-content-center align-items-center mt-xxl-5"
>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img
                    src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                    alt=""
                    class="card-img-top"
                    crossorigin="anonymous"
                />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form
                        action="/register"
                        method="POST"
                        class="needs-validation"
                        novalidate
                    >
                        <div class="mb-3">
                            <label for="username" class="form-label"
                                >Username:
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="username"
                                name="username"
                                required
                                autocomplete="username"
                                autofocus
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                                Please enter a valid username
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label"
                                >Email:
                            </label>
                            <input
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                required
                            />
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">
                                Please enter a valid email
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label"
                                >Password:
                            </label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                required
                                autocomplete="current-password"
                                pattern="^(?!.*['\"&])(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{7,32}$"
                            />
                            <div class="invalid-feedback">
                                Password must be 7-32 characters long, include at least one uppercase letter, one lowercase letter, one special character, one digit, and cannot contain single quotes, double quotes, or &.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
